body {
  font-family: 'Roboto Mono', monospace;
  font-weight: 999;
  background-image: url("../IMAGES/corange.jpg");
  background-color: #f0ffff;
}

#unique-element {
	transform: rotate(-10deg)
}
p1 {
    color:green
    border: 2px solid black;
    padding: 1px;          
    background-color:white
  
}


a{
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
  text-decoration: underline;
}


p2 {
  color:blue
  border: 2px solid black;
  padding: 1px;          
  background-color:white
}

p3 {
  color:darkblue
  border: 2px solid black;
  padding: 1px;          
  background-color:white
}

h1 {
  color: navy;
  margin-left: 20px
}

.container {
  overflow: hidden;
  padding-top: 55px;
  padding-bottom: 30px;
}

.container2 {
  overflow: auto;
  padding-top: 55px;
  padding-bottom: 30px;
}

.image {
  float: right;
  width: 500px;
  height: auto; 
}

.text {
  float: left;
  width: 50%; 
  padding: 20px; 
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  border-radius: 24px;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
  display: flex;
  flex-direction:column;
  align-items: flex-start;
  gap: 0px;
  padding: 0px;
  border-radius:50px;
  color: #ffffff;
  overflow:hidden;
  background: #000000;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::before {
  position: absolute;
  content: "";
  top: -4%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%);
  background: #9ec2f5;
  z-index: -1;
  transform-origin: bottom;

  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content::after {
  position: absolute;
  content: "";
  top: -8%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%);
  background: #e7ecff;
  z-index: -2;
  transform-origin: bottom;
  border-radius: inherit;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content svg {
  width: 48px;
  height: 0px;
}

.content .para {
  z-index: 1;
  opacity: 1;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link {
  z-index: 1;
  color: #fea000;
  text-decoration: none;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .link:hover {
  text-decoration: underline;
}

.card:hover {
  transform: translate(0px, -16px);
}

.card:hover .content::before {
  rotate: -8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

.card:hover .content::after {
  rotate: 8deg;
  top: 0;
  width: 100%;
  height: 100%;
}

#card1{
  padding-left: 3vw;

}

#card2{
  padding-left: 18vw;

}

#card3{
  padding-left: 17vw;
}

#card4{
  padding-left: 3vw;

}

#card5{
  padding-left: 18vw;

}

#card6{
  padding-left: 17vw;
}

#holidaytext {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardimage{
  transform: rotate(0deg);
  position:relative;
  float:left;
  height: 400px;  
  opacity: 0.5;
}

.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: rgb(255, 255, 255);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text2 {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #ffffff;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #212121;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px rgb(120, 120, 120);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

.text2 {
  color: black;
}

footer{
  background-color: grey;
}

#footertext{
  color:white;
}